<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindskip.xzs.repository.TaskExamMapper">
  <resultMap id="BaseResultMap" type="com.mindskip.xzs.domain.TaskExam">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="grade_level" jdbcType="INTEGER" property="gradeLevel" />
    <result column="frame_text_content_id" jdbcType="INTEGER" property="frameTextContentId" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="tasktimestart" jdbcType="TIMESTAMP" property="tasktimestart" />
    <result column="tasktimeend" jdbcType="TIMESTAMP" property="tasktimeend" />
    <result column="finishtime" jdbcType="TIMESTAMP" property="finishtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="process" jdbcType="INTEGER" property="process" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="sn" jdbcType="INTEGER" property="sn" />
    <result column="tasktype" jdbcType="INTEGER" property="tasktype" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, grade_level, frame_text_content_id, create_user, create_time, deleted,
    tasktimestart,tasktimeend,finishtime,status,process,priority,sn,tasktype,
    create_user_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_task_exam
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_task_exam
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.mindskip.xzs.domain.TaskExam" useGeneratedKeys="true" keyProperty="id" >
    insert into t_task_exam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="gradeLevel != null">
        grade_level,
      </if>
      <if test="frameTextContentId != null">
        frame_text_content_id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
       <if test="tasktimestart != null">
	tasktimestart,
  </if>
   <if test="tasktimeend != null">
	tasktimeend,
  </if>
   <if test="finishtime != null">
	finishtime,
  </if>
   <if test="status != null">
	status,
  </if>
   <if test="process != null">
	process,
  </if>
   <if test="priority != null">
	priority,
  </if>
   <if test="sn != null">
	sn,
  </if>
   <if test="tasktype != null">
	tasktype,
  </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevel != null">
        #{gradeLevel,jdbcType=INTEGER},
      </if>
      <if test="frameTextContentId != null">
        #{frameTextContentId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="tasktimestart != null">
	#{tasktimestart,jdbcType=INTEGER},
  </if>
   <if test="tasktimeend != null">
	#{tasktimeend,jdbcType=INTEGER},
  </if>
   <if test="finishtime != null">
	#{finishtime,jdbcType=INTEGER},
  </if>
   <if test="status != null">
	#{status,jdbcType=INTEGER},
  </if>
   <if test="process != null">
	#{process,jdbcType=INTEGER},
  </if>
   <if test="priority != null">
	#{priority,jdbcType=INTEGER},
  </if>
   <if test="sn != null">
	#{sn,jdbcType=INTEGER},
  </if>
   <if test="tasktype != null">
	#{tasktype,jdbcType=INTEGER},
  </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mindskip.xzs.domain.TaskExam">
    update t_task_exam
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevel != null">
        grade_level = #{gradeLevel,jdbcType=INTEGER},
      </if>
      <if test="frameTextContentId != null">
        frame_text_content_id = #{frameTextContentId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="tasktimestart != null">
	tasktimestart=#{tasktimestart,jdbcType=INTEGER},
  </if>
   <if test="tasktimeend != null">
	tasktimeend=#{tasktimeend,jdbcType=INTEGER},
  </if>
   <if test="finishtime != null">
	finishtime=#{finishtime,jdbcType=INTEGER},
  </if>
   <if test="status != null">
	status=#{status,jdbcType=INTEGER},
  </if>
   <if test="process != null">
	process=#{process,jdbcType=INTEGER},
  </if>
   <if test="priority != null">
	priority=#{priority,jdbcType=INTEGER},
  </if>
   <if test="sn != null">
	sn=#{sn,jdbcType=INTEGER},
  </if>
   <if test="tasktype != null">
	tasktype=#{tasktype,jdbcType=INTEGER},
  </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>








  <select id="page" resultMap="BaseResultMap" parameterType="com.mindskip.xzs.viewmodel.admin.task.TaskPageRequestVM">
    select
    <include refid="Base_Column_List" />
    from t_task_exam
    <where>
        and deleted='f'
      <if test="gradeLevel != null">
        and grade_level = #{gradeLevel}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="priority != null">
        and priority = #{priority}
      </if>
       <if test="tasktype != null">
        and tasktype = #{tasktype}
      </if>
      <if test="timetype != null and timetype == 1">
        and DATEDIFF(tasktimestart,#{nowTime})<![CDATA[ <= ]]>0
      </if>
      <if test="timetype != null and timetype == 2">
        and DATEDIFF(tasktimestart,#{nowTime})<![CDATA[ > ]]>0
      </if>
      order by tasktimestart desc,sn
    </where>
  </select>


  <select id="getByGradeLevel" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from t_task_exam
    where deleted='f'
    and grade_level = #{gradeLevel,jdbcType=INTEGER}
  </select>
  <!-- 根据书籍主键查询所有的任务-->
  <select id="selectListByBookId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     select
    <include refid="Base_Column_List" />
    from t_task_exam b
    where  exists(select 1 from  t_task_exam_relation r where  b.id=r.task_exam_id and r.relationid =#{relationid,jdbcType=INTEGER})  
  </select>
  
</mapper>
